@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montagu+Slab:opsz,wght@16..144,300&display=swap');
*{
    box-sizing: border-box;
}
body {
    display: grid;
    background-color: #2D4654;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto 1fr auto;
    grid-row-gap: 1em;
    min-height: 100vh;
}
header{
    display: block;
    text-align: center;
    font-family: 'Montagu Slab', serif;
    background-color: #7E9181;
    grid-column-start: 3;
    grid-column-end: 4;
}
nav{
 
    background-color: #94849B;
    font-family: 'Montagu Slab', serif;
    grid-column-start: 3;
    grid-column-end: 4;
}
nav a{
    text-align: center;
    display: block;
 
    color: #000000;
    font-size: x-large;
}
main{
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
    font-family: 'Montagu Slab', serif;
    background-color: #C7CEDB;
    border-radius: 2em;
}
h3{
    background-color: #94849B;
    
}
.card{
    text-align: center;
    background-color: #7E9181;
}
.weeks{
    text-align: left;
    list-style: none;
    font-family: 'Lato', sans-serif;
    
}

footer{
    text-align: center;
    background-color: #7E9181;
    grid-column-start: 3;
    grid-column-end: 4;
    font-family: 'Montagu Slab', serif;
}