*{
    box-sizing: border-box;
}
body {
    display: grid;
    background-color: #C7CEDB;
  }
header{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
nav{
    margin-left: auto;
    margin-right: auto;
    background-color: #94849B;
}
nav a{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #C7CEDB;
}
main{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.card{
    text-align: center;
    background-color: #7E9181;
}
.weeks{
    text-align: left;
    list-style: none;
    
}

footer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}