@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montagu+Slab:opsz,wght@16..144,300&display=swap');
*{
    box-sizing: border-box;
}
body {
    display: grid;
    background-color: #2D4654;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto 1fr auto;
    grid-row-gap: 1em;
    min-height: 100vh;
}
header{
    display: block;
    text-align: center;
    font-family: 'Montagu Slab', serif;
    background-color: #7E9181;
    grid-column-start: 3;
    grid-column-end: 4;
    font-size: xx-large;
}
nav{
    background-color: #94849B;
    font-family: 'Montagu Slab', serif;
    grid-column-start: 3;
    grid-column-end: 4;
}
nav a{
    text-align: center;
    display: block;
    color: #000000;
    font-size: x-large;
}
main{
    text-align: center;
    font-family: 'Montagu Slab', serif;
    background-color: #C7CEDB;
    border-radius: 2em;
    grid-column-start: 3;
    grid-column-end: 4;
}

img{
    margin-top: 2rem;
}

.card{
    text-align: center;
    background-color: #7E9181;
    font-family: Lato;
    border-radius: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: x-large;
}
ul{
    list-style: none;
}
footer{
    text-align: center;
    background-color: #7E9181;
    grid-column-start: 3;
    grid-column-end: 4;
    font-family: 'Montagu Slab', serif;
}
@media only screen and (min-width: 640px) {
    body {
      background-color: purple;
    }
  }

  @media only screen and (min-width: 1024px) {
    body {
      background-color:#2D4654;
    }
  }