@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montagu+Slab:opsz,wght@16..144,300&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lora:ital,wght@0,400..700;1,400..700&family=Montagu+Slab:opsz,wght@16..144,300&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    margin: auto;
    max-width: 500px;
    text-align: center;
    background-color: #BBB5BD;
}
img{
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
h1{
  font-family: Lora;
  font-size: 30px;
  background-color: #2CDA9D;
}
#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #05F140
	color: #1e212b;;
}

#menu::before {
	content: "≡";
}

nav {
	
}
.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: black;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

nav {
	background-color: #1e212b;
	margin: 0 auto;
	max-width: 800px;
}
nav ul {
	list-style-type: none;
  padding: 0%;
}
nav a {
  font-family: Lato;
	display: block;
	color: #bbb5bd;
	text-align: center;
	padding: .5rem ;
	text-decoration: none;
}
nav a:hover {
	text-decoration:underline;
}
h2{
  font-family: Lora;
  font-size: 30px;
}

h3{
  background-color: #05F140;
  margin: 0px;
}
section{
  background-color: #2CDA9D;
  border: 1px solid #297045;
  margin-top: 2em;
}
section ul{
  padding: 0px;
}
section li{
  list-style-type: none;
  text-align: center;
}
section li a{
  color: #000000;
  text-decoration: none;
}
section li  a:hover {
	text-decoration:underline;
}
