@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montagu+Slab:opsz,wght@16..144,300&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lora:ital,wght@0,400..700;1,400..700&family=Montagu+Slab:opsz,wght@16..144,300&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    margin: auto;
    max-width: 500px;
    text-align: center;
    background-color: #BBB5BD;
}
img{
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
h1{
  font-family: Lora;
  font-size: 30px;
  background-color: #2CDA9D;
}
nav{
  background-color: #1E212B;
  
}
nav a{
  font-family: Lato;
  font-size: 15px;
  color: #BBB5BD;
  display: block;
}

h2{
  font-family: Lora;
  font-size: 30px;
}

h3{
  background-color: #05F140;
}
section{
  background-color: #2CDA9D;
  border: 1px solid #297045;
  padding: 2em;
}
.item1 { grid-area: header; }
.item2 { grid-area: nav; }
.item3 { grid-area: main; }
.item4 { grid-area: footer; }
.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header'
      'nav nav nav nav'
      'main main main main'
      'footer footer footer footer';
    gap: 10px;
    padding: 10px;
}