@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dongle:wght@300;400;700&display=swap');
@media (max-width: 640px) {
    nav ul{
        display: inline;
        justify-content: space-evenly;
        flex: 1 1 100%;
    }
    div{
        display: block;
    }
}


