@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dongle:wght@300;400;700&display=swap');

h1 img{
    border-radius: 25px;
    width: 100%;
    height: auto;
}
header{
    font-family: "Crimson Text";
    background-color: #9FBBCC;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 50%;
    margin: auto;
    border-radius: 25px;
}
body{
    background-color: #FFFD98;
}
nav{
    margin: 0 auto;
    max-width: 800px;
    font-family: "Crimson Text";
    background-color: #FFFD98;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
nav a{
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
nav a:hover{
    color: #9FBBCC;
    background-color: black;
}
main{
    background-color: #BDE4A7;
    padding: 20px;
    width: 50%;
    margin: auto;
    border-radius: 25px;
}
h2{
    font-family: "Crimson Text";
    text-decoration: underline;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1em;
    background-color: #9FBBCC;
    border-radius: 25px;
    margin: auto;
}
div{
    display: grid;
    grid-template-columns: auto auto auto;
}
section{
    background-color: #BDE4A7;
    list-style-type: none;
    text-align: center;
    height: 100px;
}
section ul{
    list-style-type: none;
}
h3{
    font-family: "Crimson Text";
    text-align: center;
    background-color: #9FBBCC;
}
.card h3, .info h3{
    padding: 10px;
    margin: 0 auto auto auto;
    border-radius: 25px;
}
.card{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #FFFD98;
    border-radius: 25px;
    padding: 10px;
}
.info{
    background-color: #FFFD98;
    border-radius: 25px;
    padding: 10px;
    
}
p{
    text-align: center;
    font-family: "Dongle";
}
footer, p{
    font-family: "Crimson Text";
}

/*links*/

/*class*/

/*id*/