@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dongle:wght@300;400;700&display=swap');

h1{
    
}
header{
    font-family: "Crimson Text";
    background-color: #9FBBCC;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 50%;
    margin: auto;
}
body{
    background-color: #FFFD98;
}
main{
    background-color: #BDE4A7;
    padding: 20px;
    width: 50%;
    margin: auto;
}
nav{
    margin: 0 auto;
    max-width: 800px;
    font-family: "Crimson Text";
    background-color: #FFFD98;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
nav a{
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
nav a:hover{
    color: #9FBBCC;
    background-color: black;
}
section{
    background-color: #B3D2B2;
    
    padding: 10px;
    list-style-type: none;
}
section ul{
    list-style-type: none;
}
h3{
    font-family: "Crimson Text";
    text-align: center;
    background-color: #9FBBCC;
}
.card{
    float: left;
    width: 70%;
    padding: 10px;
    height: 300px;
}
.info:after {
    content: "";
    display: table;
    clear: both;
}
p{
    text-align: center;
    font-family: "Dongle";
}
h2{
    font-family: "Crimson Text";
    text-decoration: underline;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1em;
    background-color: #9FBBCC;
}

footer, p{
    font-family: "Crimson Text";
}

/*links*/

/*class*/

/*id*/